doctype html

html(lang="ru-RU")
    head
        title Hello
        link(rel='stylesheet', href="static/css/main.css")
    body
        h1 Hello everyone
        p halo
        .slider 
            .slider-item
                p halo
            .slider-item
                p bojer
            .slider-item
                p priv

        script(src='static/js/libs.min.js')
        script(src='static/js/main.js')
    
